In [99]:
import pandas as pd

In [100]:
horarios = [["POO", "Ivan", "025", "17:30-19:00", "17:30-19:00", "NULL", "17:30-19:00", "NULL", "NULL", "NULL"],
           ["PA", "Giovanny", "022", "10:00-11:30", "NULL", "NULL", "10:00-11:30", "10:00-11:30", "NULL", "NULL"], 
           ["Algebra lineal", "Raul", "021", "08:30-10:00", "NULL", "NULL", "08:30-10:00", "08:30-10:00", "NULL", "NULL"]]

In [101]:
#Creates DataFrame with the information of each class organized by columns
def crear_dataframe (lista):
    columnas = ["SUBJECT", "PROFESSOR", "KEY CLASS", "MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY", "SATURDAY", "SUNDAY"]
    df = pd.DataFrame(horarios, columns=columnas)

    return df

In [102]:
crear_dataframe(horarios)

,SUBJECT,PROFESSOR,KEY CLASS,MONDAY,TUESDAY,WEDNESDAY,THURSDAY,FRIDAY,SATURDAY,SUNDAY
0,POO,Ivan,025,17:30-19:00,17:30-19:00,NULL,17:30-19:00,NULL,NULL,NULL
1,PA,Giovanny,022,10:00-11:30,NULL,NULL,10:00-11:30,10:00-11:30,NULL,NULL
2,Algebra lineal,Raul,021,08:30-10:00,NULL,NULL,08:30-10:00,08:30-10:00,NULL,NULL

In [103]:
#Creates an Excel file from the DataFrame
def crear_excel(df, file):
    #The index column is excluded 
    df.to_excel(file, index=False)
    print("The Excel file has been created")

In [104]:
df = crear_dataframe(horarios)
file = 'schedule.xlsx'

In [105]:
crear_excel(df, file)

The Excel file has been created